
.nav-links {
  display: flex;
}
@media screen and (max-width :768px) {
  
}
nav {
  background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
}
section {
  margin-top:80px
}
nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
 nav li {
    padding: 5px;
  }
  
li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}